<div class="row log-row">
    <h4 class="log-caption">micro :) '<?= self::getVar("button", "text", true); ?>'</h4>
    <img class="log-caption log-loader" id="logLoader" src="img/loader.gif">
    <a id="beginBtn" class="log-caption btn btn-primary" href="javascript:void(0);">Красная кнопка</a>
</div>

<?php if (self::getVar("echo_bool", "", false)): ?><span>ПРАВДА</span><?php else: ?><span>ЛОЖЬ</span><?php endif; ?>

<div class="container">
    <table class="table table-striped table-condensed table-bordered table-hover">
        <caption>Таблица с какой-то залупой</caption>
        <thead>
            <tr>
                <th>№</th>
                <th>Город</th>
                <th>Страна</th>
                <th>Население</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td><?= self::getVar("row", "#", false); ?>.</td>
                <td><?= self::getVar("row", "city", false); ?></td>
                <td><?= self::getVar("row", "country", false); ?></td>
                <td><?= self::getVar("row", "population", false); ?></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <?php if (self::getVar("place_button", "", false)): ?><a class="btn btn-success" href="javascript:void(0);"><?= self::getVar("button", "text", false); ?></a><?php else: ?><input type="email" class="form-control" value="<?= self::getVar("email", "", false); ?>" placeholder="Введи имайлку"/><?php endif; ?>
</div>

        <?= self::getVar("some_data", "", false); ?>

<div>
<!--
    {{?some_flag=1}}
        <span class="label">first label</span>
    {{?some_flag="warning"}}
        <span class="label label-warning">Some warning label</span>
    {{?some_flag='place_button'}}
        <span class="label label-success">Some success label</span>
    {{?some_flag=8}}
        <span class="label label-success">Some success label</span>
    {{!some_flag}}
        <span class="label label-important">DEFAULT LABEL</span>
    {{;some_flag}}
-->
</div>


<?php if (self::getVar("flag3", "", false)): ?>Если флаг3 истина, то вывести эту бессмыслицу<?php endif; ?>

<pre class="log-container" id="logPre"><?= self::getVar("lines", "", false); ?></pre>
